<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /**
  ~  *  * Copyright (C) OPTIMO TECHNOLOGIES  - All Rights Reserved
  ~  *  * Unauthorized copying of this file, via any medium is strictly prohibited
  ~  *  * Proprietary and confidential
  ~  *  * Written by Sathish Kumar(satz) <sathish.thi@gmail.com>ManiKandan<smanikandanit@gmail.com >
  ~  *
  ~  */
  -->

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="KEY_ID" value=""/>
        <env name="KEY_SECRET" value=""/>
    </php>
</phpunit>

