<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /**
  ~  *  * Copyright (C) OPTIMO TECHNOLOGIES  - All Rights Reserved
  ~  *  * Unauthorized copying of this file, via any medium is strictly prohibited
  ~  *  * Proprietary and confidential
  ~  *  * Written by Sathish Kumar(satz) <sathish.thi@gmail.com>ManiKandan<smanikandanit@gmail.com >
  ~  *
  ~  */
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="build/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/report.junit.xml"/>
  </logging>
  <php>
    <env name="KEY_ID" value="rzp_test_0cO5NSrk3Q2Wxt"/>
    <env name="KEY_SECRET" value="ob1r2t7kQGc4eYJBGFG2WObq"/>
  </php>
</phpunit>
